.google-btn {
  width: 184px;
  height: 42px;
  background-color: #4285f4;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  position: relative;
  overflow: hidden;
  text-decoration: none;
  display: block;
}

.google-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  opacity: 0;
  transition: opacity 0.2s ease;
}

.google-btn:hover::before {
  opacity: 1;
}

.google-btn:active::before {
  opacity: 0.8;
}

.google-btn .google-icon-wrapper {
  position: absolute;
  width: 40px;
  height: 42px;
  background-color: #fff;
  border-radius: 5px 0px 0px 5px;
}

.google-btn .google-icon {
  position: absolute;
  margin-top: 11px;
  margin-left: 11px;
  width: 18px;
  height: 18px;
}

.google-btn .btn-text {
  float: right;
  margin: 11px 11px 0 0;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-family: "Google Sans", arial, sans-serif;
}
